@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

.googleFont {
  width: 100%;
  font-size: 40px;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  margin-top: 2%;
}

.addGoods {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
  width: 30%;
}

.addProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-right: 5%;
}