@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

.googleFont {
  font-size: 70px;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  position: absolute;
}

.productListWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.sideBar{
  width: 16%;
  min-height: 800px;
  min-width: 200px;
  background-color: lightsteelblue;
  position: absolute;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 1%;
}

.searchGoods {
  padding: 5% 1% 1% 1%;
}

.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 800px;
  padding-left: 3%;
}

.titleCategory {
  font-family: monospace;
  font-size: large;
  &:hover{
    color: orange;
    cursor: pointer;
  }
}
